@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Todo-list</h1>
    <br /><br /><br /><br /><br />
    <h2>
        <ul id="withoutMarks">
            <li>
                Write notes
            </li>
            <li>
                Mark notes
            </li>
            <li>
                Archive notes
            </li>
        </ul>
    </h2>
</div>
